/*=======================
====== About Us CSS =====
=========================*/


#about-us {
	background:#F6F6F6;
	overflow: hidden;
	padding: 85px 0;
}

#about-us h2 {
	margin-bottom:35px
}

.title-one {
	color: #666666;
	display: inline-block;
	font-size: 32px;
	font-weight: 600;
	padding-bottom:10px;
	text-align: center;
	text-transform: uppercase;
	position:relative
}

.title-one .fa-star {
	color: #fc7700;
	margin-right: 10px;
	margin-left: 10px;
}



.title-one:after {
	color: #fc7700;
	content: "";
	position: absolute;
	right: -40px;
	top: -2px;
}

.title-one:before {
	color: #fc7700;
	content: "";
	left: -40px;
	position: absolute;
	top: 0;
}


#about-us h4 {
	color: #909090;
	margin-bottom: 50px;
	margin-top: -5px;
	text-transform: capitalize;
}

#about-us p {
	font-weight:300;
	font-size:15px
}

.about-us .col-sm-6 {
	margin-top:50px
}

.about-us h3 {
	font-size: 20px;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.about-us .tab-content {
	background:#FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 25px;
}

.about-us .nav-tabs li a {
	border-top:2px solid #f6f6f6;
	color:#fc7700
}

.about-us .nav-tabs li.active a, 
.about-us .nav-tabs li.active a:hover, 
.about-us .nav-tabs li.active a:focus {
	border-radius: 0;
	border-top: 2px solid #fc7700;
	color: #333333;
}

.about-us .tab-content 
.pull-left.media-object {
	background-color: #F6F6F6;
	margin-right: 20px;
	padding: 5px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:18px;
	box-shadow:1px 1px 0 0 #333333;
	width:100%;
	background:#43484E;
	height:35px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:25%;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background-color:#fc7700;
}

.skillbar-title span {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: left;
	display:block;
	background-color:#fc7700;
	padding:0 15px;
	height:35px;
	line-height:35px;
}


.skillbar-bar {
	height:35px;
	width:0px;
	background-color:#fc7700;
	box-shadow:0 1px 0 0 #333333;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
}


